<li class="place-tile">
    <div class="place-header">
        <h4>{{$ctrl.place.venue.name}}</h4>
        <a ng-href="{{$ctrl.place.venue.url}}"
           ng-if="$ctrl.place.venue.url">
            <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
    <div class="place-details">
        <div>{{$ctrl.place.venue.contact.formattedPhone}}</div>
        <div class="adddress-line font-weight-light"
             ng-repeat="addressLines in $ctrl.place.venue.location.formattedAddress">
             {{addressLines}}
         </div>
    </div>
</li>
