.place-tile {
    display: flex;
    flex-direction: column;
    border: #ccc solid 1px;
    margin-bottom: 8px;
    padding: 8px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.place-tile .place-header {
    display: flex;
    flex: 1 1 auto;
}

.place-tile .place-header h4 {
    margin-right: 4px;
}

.place-tile .adddress-line {
    line-height: 1.2;
}
