<div class="place-list-container">
    <nav class="navbar navbar-light bg-light sticky-top">
        <form class="form-inline">
            <input class="form-control mr-sm-2 searchbox"
                   type="search"
                   placeholder="Your location or elsewhere..."
                   ng-model="$ctrl.searchText" />
            <button class="btn btn-primary mr-sm-2" ng-click="$ctrl.search()">Search</button>
            <div class="mr-sm-2 range-slider">
                <label><small>Within {{$ctrl.range}} meters</small></label>
                <div ui-slider data-min="0" data-max="1000" ng-model="$ctrl.range"></div>
            </div>
        </form>
    </nav>
    <div class="container results-container">
        <div ng-if="$ctrl.loading" class="central-container">
            <div class="fa fa-spinner fa-spin"></div>
        </div>
        <div ng-if="!$ctrl.loading && $ctrl.places.length <= 0" class="central-container">
            <h3>No results currently... Hit Search!</h3>
        </div>
        <div ng-if="!$ctrl.loading && $ctrl.places.length > 0">
            <ul>
                <place-tile ng-repeat="place in $ctrl.places" place="place"></place-tile>
            </ul>
            <button class="btn btn-outline-success"
                    ng-click="$ctrl.getMoreResults()"
                    ng-if="$ctrl.showGetMoreResults">
                See more results
            </button>
        </div>
    </div>
</div>
