ul {
    padding: 0;
}

.place-list-container .navbar .searchbox {
    width: 400px;
}

.place-list-container .range-slider {
    color: #888;
}

.place-list-container .ui-slider {
  position: relative;
  width: 100px;
  left: 10px;
}

.place-list-container .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 0.8em;
}

.place-list-container .ui-slider .ui-slider-handle.ui-state-default {
    outline: none;
    background: white;
}

.place-list-container .ui-slider-horizontal {
    height: 0.3em;
}

.place-list-container .results-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.place-list-container .results-container .central-container {
    display: flex;
}

.place-list-container .results-container .central-container > * {
    flex: 1;
    text-align: center;
}

.place-list-container .results-container .fa-spinner {
    font-size:3em;
}
